# Ignore node_modules inside frontend folder
node_modules


# We will want to ignore pushing any database files
# Instead write a script that creates mock data

# Ignore individual virtual environment directories
env
__pycache__